@import 'https://fonts.googleapis.com/css?family=Petit+Formal+Script|Roboto';

body {
  width: 90%;
  margin: 0 auto;
  background-color: #ffffb3;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; /* Source: https://jgthms.com/web-design-in-4-minutes/#color-contrast */
  line-height: 1.5;
  padding: 1em 1em;
}

nav a {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px; /* https://stackoverflow.com/questions/15175312/increase-font-size-of-hyperlink-text-html */
}

a {
  color: green;
}

a:hover{
  color: pink;
}

header {
  text-align: center; /* Source: https://www.w3.org/Style/Examples/007/center.en.html */
  font-family: 'Petit+Formal+Script', cursive;
  font-size: 25px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/03/Flag_of_Italy.svg); /* Source: https://www.w3schools.com/css/css_background.asp */
  background-position: center; /* Source: https://www.w3schools.com/cssref/pr_background-position.asp; */
  padding: 20px;
}

header h3{
  text-align: center;
}

p {
  font-weight: bold;
  padding: 0px 25px;
}

/* NAVIGATION - Source: https://www.w3schools.com/css/css_navbar.asp */

nav ul {
  list-style: none; /* removes bullets - Source: https://www.computerhope.com/issues/ch001704.htm */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	position: sticky;
	top: 20px;
	width: 100%;
}

ul li { /* color all of the items in unordered lists */
  color: blue;
  float: left;
  border: 1px solid #bbb; /* border divider */
}

li a {
	display: block; /* makes whole box clickable and to specify measures of box */
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active { /* let know which page on (shade of box) */
  background-color: #4CAF50;
}
/* END OF NAVIGATION */

/* TABLE */
table { /*https://www.w3schools.com/CSS/tryit.asp?filename=trycss_table_striped*/
  border-collapse: collapse;
  width: 50%;
}

th, td {/*https://www.w3schools.com/CSS/tryit.asp?filename=trycss_table_striped*/
  text-align: left;
  padding: 8px;
  width: 70%;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #ffffe6;
}
/* END OF TABLE */

/* DROPDOWN BARS - Source: https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 17px;
  border: 1px solid #D0D0D0;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
/* END of DROPDOWN BARS */

footer {
  font-style: italic;
  background-color: #ffffe6;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
}

#home {
  color: red;
}

#mascarpone {
  color: red;
}

#salami {
  color: red;
}

#shop {
  color: red;
}

.center{
  text-align: center;
}

.notbold{
  font-weight:normal;
}
